*.iml
.gradle
/local.properties
.idea/
build/
captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
images_for_agent/
gemini-cli-projects/
google-services.json
.vscode/
.kotlin/
.antigravityrules
.DS_Store