<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.survivalcoding.gangnam2kiandroidstudy" />
        <package android:name="com.survivalcoding.gangnam2kiandroidstudy.dev" />
        <package android:name="com.survivalcoding.gangnam2kiandroidstudy.staging" />
        <provider android:authorities="com.survivalcoding.gangnam2kiandroidstudy.recipe.provider" />
        <provider android:authorities="com.survivalcoding.gangnam2kiandroidstudy.dev.recipe.provider" />
        <provider android:authorities="com.survivalcoding.gangnam2kiandroidstudy.staging.recipe.provider" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="Recipe Reader"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
